<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href='staticFiles/styles.css'/>
</head>
<body>
    <div class="container">
        <h1><%= message %></h1>
        <p>Click this <a href="<%= verificationLink %>">link</a> to reset your password</p>
        <div class="loader"></div>
        <p>This may take a few moments. Please don't close this page.</p>
    </div>
</body>
</html>