<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link rel="stylesheet" href="staticFiles/styles.css" />
  </head>
  <body>
    <div class="container">
      <div id="notification" class="notification"></div>
      <div id="form" class="resetContainer">
        <h1 class="h1">Reset Password</h1>

        <form action="/reset-password" method="post">
          <div class="form-group">
            <label for="newPassword">New Password</label>
            <input
              type="password"
              id="newPassword"
              name="newPassword"
              required
            />
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input
              type="password"
              id="confirmPassword"
              name="confirmPassword"
              required
            />
          </div>
          <button id="submit" type="submit" class="btn-confirm">
            <span class="btn-text">Confirm</span>
            <span class="loader"></span>
          </button>
        </form>
      </div>
    </div>
    <div class="loaderContainer" id="messageContainer">
      <div class="loaderInner">
        <h1>
          <p id="message"><%= message %></p>
        </h1>
        <p id="description"><%= description %></p>
        <div class="loaderInit">
          <div id="loader" class="loader"></div>
        </div>
      </div>
    </div>
    <script src="js/resetPassword.js"></script>
  </body>
</html>
